{
	"env": {
		"browser": true,
		"node": true
	},
	"extends": [
		"eslint-config-kentcdodds/best-practices",
		"eslint-config-kentcdodds/possible-errors",
		"eslint-config-kentcdodds/mocha"
	],
	"rules": {

	}
}